* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100%;
  background-color: #0f0c29;
  background:  radial-gradient(circle at 30% 20%, rgba(255, 215, 0, 0.08), transparent 40%),
        radial-gradient(circle at 80% 70%, rgba(138, 43, 226, 0.12), transparent 40%),
        linear-gradient(135deg, #0f0c29, #1b1445, #090622);
  background-attachment: fixed;
  font-family: "Cinzel", sans-serif, Arial;
  font-weight: 500;
}

button{
  font-family: inherit;
}

.page-warper {
  width: 100%;
  height: 100%;
  /* background-color: #0f0c29;
  background:  radial-gradient(circle at 30% 20%, rgba(255, 215, 0, 0.08), transparent 40%),
        radial-gradient(circle at 80% 70%, rgba(138, 43, 226, 0.12), transparent 40%),
        linear-gradient(135deg, #0f0c29, #1b1445, #090622);
  background-attachment: fixed; */
  padding-top: 60px;
  /* Change The Display Later */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e0e0e0;
  text-shadow: 0 0 1px hsl(0, 0%, 100%);
   letter-spacing: 1px;
}


/* Upper part is card container and this down go to the nav bar */

.nav-bar {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 4px 20px rgba(0,0,0,0.4);
  background: rgba(15, 12, 41, 0.95);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 

  text-align: center;
  z-index: 1000;
}

.nav-bar.library{
  box-shadow: none;
}

.nav-bar .nav-bar-li{
  flex: 0 0 auto;
}

.nav-bar h1 span{
  color:   hsl(51, 61%, 44%);
  text-shadow: 0 0 1px  hsl(51, 60%, 50%);
}

.nav-bar ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.nav-bar ul li:has(:not(button)) {
  padding: 13px 13px 0;
  background-color:  hsl(51, 67%, 46%);
  margin: auto;
  margin-right: 10px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 0 10px  hsl(51, 60%, 50%);
}

.nav-bar a {
  text-decoration: none;
  color: #e0e0e0;
}

.nav-bar li:hover a {
  color: black;
}

.nav-bar ul li:has(:not(button)):hover {
  background-color:  hsl(51, 64%, 38%);
  box-shadow: 0 0 5px  hsl(51, 60%, 45%);
}

.nav-bar ul li a{
  display: block;
  width: 100%;
  height: 35px;
}

.logo img {
  width: 70px;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.nav-bar .search-bar{
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.nav-bar .search-bar input{
  max-width: 100%;
  min-width: 50px;
  height: 40px;
  font: inherit;
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  outline: none;
  background: #090622;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5)
  0 0 7px rgba(0, 0, 0, 0.8);
  color: white;
  font-weight: 600;
 
}

.search-icon{
  position: absolute;
  right: 20px;

}

.nav-bar ul li button {
  padding: 13px;
  background-color: hsl(51, 67%, 46%);
  margin: 11px auto;
  border: none;
  margin-right: 10px;
  border-radius: 4px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  box-shadow: 0 0 10px  hsl(51, 60%, 50%);
}

.nav-bar li button:hover {
  color: black;
  background-color:   hsl(51, 64%, 38%);
  box-shadow: 0 0 10px  hsl(51, 60%, 45%);
}



.nav-bar .nav-bar-li ul li:has(label){
    width: 50px;
    height: 45px;
    align-self: center;
    text-align: center;
    padding-top: 10px;
    margin: 10px 5px 10px 0;
    display: none;
}

.nav-bar .nav-bar-li ul li:has(label):hover{
  color: black;
}

.nav-toggle{
  display: none;
}

.nav-button{
  width: 100%;
  height: 100%;
}

.side-nav{
  position: fixed;
  top: 0;
  right: -330px;
  width: 300px;
  height: 100%;
  background: hsl(246, 57%, 10%);
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.5);
  z-index: 999;
  padding-top: 80px;
  transition: right 0.4s ease-in-out;

}

.side-nav ul{
  list-style: none;
}

.side-nav li button{
  display: block;
  padding: 20px;
  width: 100%;
  text-align: start;
  background: transparent;
  border: none;
  color: white;
  font: inherit;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}


.side-nav li button:hover{
  background: rgba(255, 215, 0, 0.1);
}

.side-nav li a:hover{
  background: rgba(255, 215, 0, 0.1);
}

.nav-toggle:checked ~ .side-nav {
  right: 0;
}

.side-nav li a{
  display: block;
  padding: 20px;
  color: white;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.id-nav{
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 70px;
  left: 0;
  z-index: 99;
  box-shadow: 0 4px 20px rgba(0,0,0,0.4);
  background: rgba(15, 12, 41, 0.95);

}

.id-nav div{
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  background: rgb(151, 141, 141);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px 6px;
}

.id-nav div a{
  text-decoration: none;

  font-size: 20px;
  color: white;
}

/* under this line is homepage body content */

.homepage-body {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}




.homepage-content {
  flex:0 0 auto;
  min-width: 355px;
  max-width: 40%;
  height: 100%;
  text-align: center;
  align-self: start;
  margin-top: 100px;

}

.homepage-content span i{
  display: block;
  color: hsl(51, 89%, 48%);
  text-shadow: 0 0 3px hsl(51, 100%, 50%);
}

.homepage-content a{

  width: 50px;
  height: 30px;
  text-decoration: none;
  color: #e0e0e0;
  padding: 10px 20px;
  background:  hsl(51, 74%, 44%);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  box-shadow: 0 0 15px hsl(51, 100%, 50%);
}

.homepage-content a:hover{
  color: black;
  background-color:  hsl(51, 64%, 38%);
  box-shadow: 0 0 10px  hsl(51, 60%, 45%);
}

.homepage-content h1{
  font-size: 35px;
  font-weight: 900;
  letter-spacing: 2px;
  text-shadow: 0 0 12px rgba(255, 215, 0, 0.3);
}

.homepage-content h3{
  margin: 30px auto;
 
}

.homepage-content p{
  font-size: 14px;
  margin: 30px auto 50px;

}

.homepage-slide-container{
  width:55%;
  display: flex;
  flex-direction: column;
  
}

.card-loop-container {
  margin:  20px auto 10px;
  max-width: 90%;
  min-width: 500px;
  flex: 1;
  position: relative;
  display: flex;
  overflow: hidden;
  background: transparent;
  backdrop-filter: blur(10px);
  gap: 20px;

  mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );

}

.card-loop-container::before,
.card-loop-container::after {
  content: "";
  position: absolute;
  top: 0;

  z-index: 10;
  width: 80px;
  height: 100%;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.card-loop-container::before {
  left: -2px;
  background: linear-gradient(
    to right,
    hsl(246, 57%, 10%),
    hsla(246, 57%, 10%, 0.624),
    hsla(246, 57%, 10%, 0)
  );
  
  backdrop-filter: blur(1px);


}

.card-loop-container::after {
  right: -2px;
  background: linear-gradient(
    to left,
    hsl(246, 57%, 10%),
    hsla(246, 57%, 10%, 0.624),
    hsla(246, 57%, 10%, 0)
  );
  backdrop-filter: blur(1px);

}

.card-loop-group {
  /* img div container */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  animation: spinToLeft 25s infinite linear;
   transition: all 0.5s ;
}

.card-loop-cards {
  flex: 0 0 120px;
  /* img div */
  width: 120px;
  height: 100%;
   transition: all 0.5s;
}

.card-loop-cards img {
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
}

.card-loop-group.arcana{
  animation: spinToRight 30s infinite linear;
}

.card-loop-container:hover .card-loop-group{
  animation-play-state: paused;
}

.card-loop-group:hover .card-loop-cards{
  transform: scale(0.8);
  opacity: 0.5;
  filter: blur(2px);
}

.card-loop-group .card-loop-cards:hover{
  transform: scale(1);
  flex: 0 0 160px;
  opacity: 1;
  filter: blur(0);
  z-index: 100;

}



.card-loop-container:hover::after ,
.card-loop-container:hover::before{
  opacity: 0;
}



@keyframes spinToLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes spinToRight {
  from{
    transform: translateX(-50%);
  }
  to{
    transform: translateX(0);
  }
}

/* home page end here */



.card-container {
  background-color: transparent;
  max-width: 70%;
  min-width: 800px;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.card-container.mobile{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 160px;
  height: 245px;
  position: relative;
  margin: 10px;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  perspective: 800px;
}

.card img {
  width: 100%;
  position: absolute;
  transition: transform 0.3s linear;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  border-radius: 10px;
}

.tarot-card {
  transform: rotateY(-180deg);
  z-index: -1;
}

.card-back {
  transform: rotateY(0deg);
  z-index: 1;
}

.card:hover .card-back {
  transform: rotateY(180deg);
  z-index: -1;
}

.card:hover .tarot-card {
  transform: rotateY(0deg);
  z-index: 1;
}


/* Upper One is Card Contianer and Card style */


.deck-container{
  /* draw page card parent container */
  margin:50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}


.deck-container h3{
  font-size: 24px;
  
}

.deck-container h4{
  font-size: 18px;
  margin-bottom: 20px;
}

.deck-container i{
  color: hsl(51, 100%, 50%);

}

.deck-container button{
  margin-top: 40px;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: 500;
  color: white;
  background: hsl(51, 96%, 43%);
  border: none;
  border-radius: 4px;
  box-shadow: 1px 2px 5px hsl(51, 96%, 46%);
}

.deck-container button:hover{
  color: #090622;
  background: hsl(51, 94%, 38%);
  box-shadow: 0 0px 5px hsl(51, 95%, 37%);
}

.deck-container.mobile{
  gap: 20px;
  display: none;
}





/* upper is draw page body */



/* under is card library */

.all-card-container{
  margin-top: 50px;
}


.cup-card-container , 
.pentacles-card-container , 
.arcana-card-container , 
.sword-card-container , 
.wand-card-container {
  width: 100%;
  height: 100%;
  
}


.arcana-card-group ,
.cup-card-group ,
 .pentacles-card-group ,
.sword-card-group ,
.wand-card-group{
  border: 1px solid black;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(8 , 160px);
}

















/* responsive */

@media (max-width:1200px) {
  .nav-bar ul li button {
    display: none;
  }
  .nav-bar ul{
    margin-top: 10px;
  }
  .card-library{
    display: none;
  }

.id-nav div a{

  font-size: 15px;
 
}

}



@media (max-width:900px) {
  .search-bar input{
    width: 90%;
  }
   .logo{
    flex: 0 0 auto;
  }
}

@media (max-width:840px) {
    .nav-bar .nav-bar-li ul li:has(:not(label)) {
    display: none;
  }


  .nav-bar .nav-bar-li ul li:has(label){
    display: flex;
    
    margin: 0 10px;
  }
  /* upper is home page */

  .card-container {
    min-width: 780px;
  }
  .card {
    width: 100%;
    /* height: ; */
    
  }
 
}

@media (max-width:780px) {
  .nav-bar h1{
    font-size: 24px;
  }
  .nav-bar .nav-bar-li ul li:has(:not(label)) {
    display: none;
  }
  .nav-bar .nav-bar-li ul li:has(label){
    display: flex;
    margin: 0 10px;
    
  }
  .card-loop-container{
    display: none;
  }

  .homepage-body {
    margin-top: -40px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
  }
  .homepage-content{
    align-self: center;
    max-width: 100%;
    flex: none;
  }
  /* upper is home page */
    .card-container {
    min-width: 650px;
  }
  .card {
    width: 120px;
    height: 200px;
    
  }
  .deck-container.mobile{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .deck-container{
    display: none;
  }
  .logo.lib{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 0 1 100px;
  }
  .logo-name{
    padding: 0;
    margin: 0;
    font-size: 10px;
    display: inline-block;
  }
  .logo.lib img{
    width: 50px;
    padding: 0;
    margin: 0;
  }
  .search-bar input{
    width: 80%;
  }
  .id-nav div a{
 

    font-size: 10px;
   
  }
 
}