* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #0f0c29;
  background:  radial-gradient(circle at 30% 20%, rgba(255, 215, 0, 0.08), transparent 40%),
        radial-gradient(circle at 80% 70%, rgba(138, 43, 226, 0.12), transparent 40%),
        linear-gradient(135deg, #0f0c29, #1b1445, #090622);
  background-attachment: fixed;
  font-family: sans-serif, Arial;
  padding-top: 80px;
  /* Change The Display Later */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e0e0e0;
  text-shadow: 0 0 1px hsl(0, 0%, 100%);
   letter-spacing: 1px;
}

/* Card Contianer and Card style */

.card-container {
  background-color: black;
  width: 550px;
  height: 300px;
  display: flex;
  flex-direction: row;
}

.card {
  width: 160px;
  height: 280px;
  position: relative;
  margin: 10px;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  perspective: 800px;
}

.card img {
  width: 100%;
  position: absolute;
  transition: transform 0.3s linear;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  border-radius: 10px;
}

.tarot-card {
  transform: rotateY(-180deg);
  z-index: -1;
}

.card-back {
  transform: rotateY(0deg);
  z-index: 1;
}

.card:hover .card-back {
  transform: rotateY(180deg);
  z-index: -1;
}

.card:hover .tarot-card {
  transform: rotateY(0deg);
  z-index: 1;
}

/* Upper part is card container and this down go to the nav bar */

.nav-bar {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  
  background: rgba(15, 12, 41, 0.95);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0 4px 20px rgba(0,0,0,0.4);

  text-align: center;
  z-index: 1000;
}

.nav-bar h1 span{
  color:   hsl(51, 60%, 50%);
  text-shadow: 0 0 1px  hsl(51, 60%, 50%);
}

.nav-bar ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.nav-bar ul li:has(:not(button)) {
  padding: 15px;
  background-color:  hsl(51, 60%, 50%);
  margin: auto;
  margin-right: 10px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 0 10px  hsl(51, 60%, 50%);
}

.nav-bar a {
  text-decoration: none;
  color: #e0e0e0;
}

.nav-bar li:hover a {
  color: black;
  box-shadow: 0 0 5px  hsl(51, 60%, 45%);
}

.nav-bar ul li:has(:not(button)):hover {
  background-color:  hsl(51, 60%, 45%);
  box-shadow: 0 0 5px  hsl(51, 60%, 45%);
}

.logo img {
  width: 70px;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-bar ul li button {
  padding: 15px;
  background-color:  hsl(51, 60%, 50%);
  margin: 11px auto;
  border: none;
  margin-right: 10px;
  border-radius: 4px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  box-shadow: 0 0 10px  hsl(51, 60%, 50%);
}

.nav-bar li button:hover {
  color: black;
  background-color:  hsl(51, 60%, 45%);
  box-shadow: 0 0 10px  hsl(51, 60%, 45%);
}

/* under this line is homepage body content */

.homepage-body {
  width: 100%;
  margin: 0 40px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}




.homepage-content {
  flex:1 1 auto;
  max-width: 600px;
  max-width: 100%;
  height: 100%;
  text-align: center;
  align-self: start;
  margin-top: 100px;

}


.homepage-content span{
  border-bottom: 3px solid hsl(51, 80%, 50%);
  padding-bottom: 2px;
  
}

.homepage-content a{

  width: 50px;
  height: 30px;
  text-decoration: none;
  color: #e0e0e0;
  padding: 10px 20px;
  background: hsl(51, 60%, 50%);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  box-shadow: 0 0 15px hsl(51, 100%, 50%);
}

.homepage-content a:hover{
  color: black;
  background-color:  hsl(51, 60%, 45%);
  box-shadow: 0 0 10px  hsl(51, 60%, 45%);
}

.homepage-content h1{
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 2px;
  text-shadow: 0 0 12px rgba(255, 215, 0, 0.3);
}

.homepage-content h3{
  margin: 30px auto;
 
}

.homepage-content p{
  font-size: 14px;
  margin: 30px auto 50px;

}

.homepage-slide-container{
  width:65%;
  display: flex;
  flex-direction: column;
  
}

.card-loop-container {
  margin:  20px;
  max-width: 95%;
  min-width: 500px;
  flex: 1;
  position: relative;
  display: flex;
  overflow: hidden;
  background: transparent;
  backdrop-filter: blur(10px);
  gap: 20px;
  /* box-shadow:inset 10px 0 15px -20px rgba(0,0,0,0.2),
  inset -10px 0 15px -20px rgba(0,0,0,0.2); */

  mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
  
  /* Necessary for some browsers like Chrome/Safari */
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );

}

.card-loop-container::before,
.card-loop-container::after {
  content: "";
  position: absolute;
  top: 0;

  z-index: 10;
  width: 80px;
  height: 100%;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.card-loop-container::before {
  left: -2px;
  background: linear-gradient(
    to right,
    hsl(246, 57%, 10%),
    hsla(246, 57%, 10%, 0.624),
    hsla(246, 57%, 10%, 0)
  );
  
  backdrop-filter: blur(1px);


}

.card-loop-container::after {
  right: -2px;
  background: linear-gradient(
    to left,
    hsl(246, 57%, 10%),
    hsla(246, 57%, 10%, 0.624),
    hsla(246, 57%, 10%, 0)
  );
  backdrop-filter: blur(1px);

}

.card-loop-group {
  /* img div container */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  animation: spinToLeft 25s linear;
   transition: all 0.5s;
}

.card-loop-cards {
  flex: 0 0 120px;
  /* img div */
  width: 120px;
  height: 100%;
   transition: all 0.5s;
}

.card-loop-cards img {
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
}

.card-loop-group.arcana{
  animation: spinToRight 30s linear;
}

.card-loop-container:hover .card-loop-group{
  animation-play-state: paused;
}

.card-loop-group:hover .card-loop-cards{
  transform: scale(0.8);
  opacity: 0.5;
  filter: blur(2px);
}

.card-loop-group .card-loop-cards:hover{
  transform: scale(1);
  flex: 0 0 160px;
  opacity: 1;
  filter: blur(0);
  z-index: 100;

}



.card-loop-container:hover::after ,
.card-loop-container:hover::before{
  opacity: 0;
}



@keyframes spinToLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes spinToRight {
  from{
    transform: translateX(-50%);
  }
  to{
    transform: translateX(0);
  }
}